@model X.PagedList.IPagedList<WebSchoolAppUI.Models.FactInscripcion>
@using X.PagedList.Mvc.Core;

@{
    ViewData["Title"] = "Inscripciones";
}
<style>
    .ul.pagination {
        display: inline-block;
        padding: 0;
        margin: 0;
    }

    ul.pagination li {
        display: inline;
    }

        ul.pagination li a {
            color: black;
            float: left;
            padding: 8px 16px;
            text-decoration: none;
            transition: background-color .3s;
        }

            ul.pagination li a.active {
                background-color: #4CAF50;
                color: white;
            }

            ul.pagination li a:hover:not(.active) {
                background-color: #ddd;
            }
</style>
<h1>Inscripciones</h1>

<p>
    <a asp-action="Create">Crear nueva Inscripcion</a>
</p>
@using (Html.BeginForm("Index", "FactInscripcions", FormMethod.Get))
{
    <p>
        Buscar por nombre de Estudiante: @Html.TextBox("SearchString", ViewBag.CurrentFilter as string)
        <input type="submit" value="Search" />
    </p>
}
<center>

    <div>
        <table class="table">
            <thead>
                <tr>
                    <th>
                       Importe de Inscripcion
                    </th>
                    <th>
                        @Html.ActionLink("Año Escolar", "Index", new { sortOrder = ViewBag.AnioSortParm, currentFilter = ViewBag.CurrentFilter })
                    </th>
                    <th>
                        @Html.ActionLink("Centro", "Index", new { sortOrder = ViewBag.CentroSortParm, currentFilter = ViewBag.CurrentFilter })

                    </th>
                    <th>
                        @Html.ActionLink("Condicion", "Index", new { sortOrder = ViewBag.CondicionSortParm, currentFilter = ViewBag.CurrentFilter })

                    </th>
                    <th>
                        @Html.ActionLink("Curso", "Index", new { sortOrder = ViewBag.CursoSortParm, currentFilter = ViewBag.CurrentFilter })

                    </th>
                    <th>
                        @Html.ActionLink("Edad", "Index", new { sortOrder = ViewBag.EdadSortParm, currentFilter = ViewBag.CurrentFilter })

                    </th>
                    <th>
                        @Html.ActionLink("Estudiante", "Index", new { sortOrder = ViewBag.NameSortParm, currentFilter = ViewBag.CurrentFilter })

                    </th>
                    <th>
                        @Html.ActionLink("Tipo de Estudiante", "Index", new { sortOrder = ViewBag.TipoSortParm, currentFilter = ViewBag.CurrentFilter })

                    </th>
                    <th>
                        Fecha de Inscripcion
                    </th>
                    <th>
                        @Html.ActionLink("Modalidad", "Index", new { sortOrder = ViewBag.ModalidadSortParm, currentFilter = ViewBag.CurrentFilter })

                    </th>
                    <th>
                        Profesor
                    </th>

                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.ImporteInscripcion)
                        </td>

                        <td>
                            @Html.DisplayFor(modelItem => item.IdAnioEscolarNavigation.Anio)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.IdCentroNavigation.Nombre)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.IdCondicionNavigation.Nombre)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.IdCursoNavigation.Nombre)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.IdEdadNavigation.Edad)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.IdEstudianteNavigation.Nombre)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.IdEstudianteTipoNavigation.Nombre)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.FechaCreado)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.IdModalidadTipoNavigation.Nombre)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.IdProfesorNavigation.Nombre)
                        </td>

                        <td>
                            <a asp-action="Edit" asp-route-id="@item.IdFactInscripcion">Editar</a> |
                            <a asp-action="Details" asp-route-id="@item.IdFactInscripcion">Detalles</a> |
                            <a asp-action="Delete" asp-route-id="@item.IdFactInscripcion">Eliminar</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</center>

<br />
<div class="mb-2">
    Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
</div>

<div class="d-flex justify-content-center">
    @Html.PagedListPager(Model, page => Url.Action("Index",
        new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))

</div>
