@model WebSchoolAppUI.Models.Profesore

@{
    ViewData["Title"] = "Eliminar";
}

<h1>Eliminar Prefesor</h1>

<div>
    <h4>Profesore</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Apellido)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Apellido)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cedula)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cedula)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaCreado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaCreado)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaModificado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaModificado)
        </dd>
        
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdAsignaturaNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdAsignaturaNavigation.IdAsignatura)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdCentroNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdCentroNavigation.IdCentroEducativo)
        </dd class>
        
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="IdProfesor" />
        <input type="submit" value="Eliminar" class="btn btn-danger" /> |
        <a asp-action="Index">Regresar al Indice</a>
    </form>
</div>
