@model WebSchoolAppUI.Models.Profesore

@{
    ViewData["Title"] = "Eliminar";
}

<h1>Eliminar Prefesor</h1>

<div>
    <h4>Profesore</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Apellido)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Apellido)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Cedula)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Cedula)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FechaCreado)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FechaCreado)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FechaModificado)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FechaModificado)
        </dd>

        <dt class="col-sm-2">
            Asignatura
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IdAsignaturaNavigation.Nombre)
        </dd>
        <dt class="col-sm-2">
            Centro
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IdCentroNavigation.Nombre)
        </dd>

    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="IdProfesor" />
        <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#confirm-delete">Eliminar</button>
        <div class="modal" id="confirm-delete" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h2 class="modal-title">Eliminar</h2>
                    </div>
                    <div class="modal-body">
                        <p>Estas Seguro de Eliminar el registro?</p>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-success">Si, Eliminar</button>
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
                    </div>
                </div>
            </div>
        </div>        <a asp-action="Index">Regresar al Indice</a>
    </form>
</div>
