@model IEnumerable<WebSchoolAppUI.Models.Estudiante>

@{
    ViewData["Title"] = "Estudiantes";
}

<h1>Estudiantes</h1>

<p>
    <a asp-action="Create">Crear Nuevo Estudiante</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Apellido)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.FechaNacimiento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sexo)
            </th>

        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Apellido)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.FechaNacimiento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sexo)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdEstudiante">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.IdEstudiante">Detalles</a> |
                <a asp-action="Delete" asp-route-id="@item.IdEstudiante">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>
