@model WebSchoolAppUI.Models.CentrosEducativo

@{
    ViewData["Title"] = "Delete";
}

<h1>Una vez eliminado no podrá ser recuperado el centro educativo</h1>

<h3>¿Seguro que quieres eliminar este archivo?</h3>
<div>
    <h4>Centros Educativo</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        <dt class = "col-sm-2">
            Fecha de creación
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaCreado)
        </dd>
        <dt class = "col-sm-2">
            Distrito
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdDistritoNavigation.Codigo)
        </dd class>
        <dt class = "col-sm-2">
            Tipo de centro
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdTipoCentroNavigation.Nombre)
        </dd class>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="IdCentroEducativo" />
        <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#confirm-delete">Eliminar</button>
        <div class="modal" id="confirm-delete" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h2 class="modal-title">Eliminar</h2>
                    </div>
                    <div class="modal-body">
                        <p>Estas Seguro de Eliminar el registro?</p>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-success">Si, Eliminar</button>
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
                    </div>
                </div>
            </div>
        </div>        <a asp-action="Index">Volver</a>
    </form>
</div>
