@model WebSchoolAppUI.Models.CentrosEducativo

@{
    ViewData["Title"] = "Details";
}

<h1>Detalles</h1>

<div>
    <h4>Centros Educativo</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        <dt class = "col-sm-2">
            Fecha de creación
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaCreado)
        </dd>
        <dt class = "col-sm-2">
            Distrito
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdDistritoNavigation.Codigo)
        </dd>
        <dt class = "col-sm-2">
            Tipo de centro
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdTipoCentroNavigation.IdTipoCentro)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.IdCentroEducativo">Editar</a> |
    <a asp-action="Index">Volver</a>
</div>
