@model IEnumerable<WebSchoolAppUI.Models.CentrosEducativo>

@{
    ViewData["Title"] = "Index";
}

<h1>Lista de Centros</h1>

<p>
    <a asp-action="Create">Crear centro</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                Fecha de cración
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreadoPorNavigation)
            </th>
            <th>
                Distrito
            </th>
            <th>
                Tipo de centro
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaCreado)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdDistritoNavigation.Codigo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdTipoCentroNavigation.IdTipoCentro)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdCentroEducativo">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.IdCentroEducativo">Ver detalle</a> |
                <a asp-action="Delete" asp-route-id="@item.IdCentroEducativo">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>
