@model IEnumerable<WebSchoolAppUI.Models.Departamento>

@{
    ViewData["Title"] = "Index";
}

<h1>Listado de Departamentos</h1>

<p>
    <a asp-action="Create">Nuevo departamento</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
    Centro
</th>
            
            <th>Acción</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdCentroNavigation.Nombre)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdDepartamento">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.IdDepartamento">Ver detalle</a> |
                <a asp-action="Delete" asp-route-id="@item.IdDepartamento">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>
