@model IEnumerable<WebSchoolAppUI.Models.PersonalCentro>

@{
    ViewData["Title"] = "Personal";
}

<h1>Personal</h1>

<p>
    <a asp-action="Create">Crear Nuevo Personal</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Nombre
            </th>
            <th>
                Apellido
            </th>
            <th>
                Cedula
            </th>
            <th>
                Departamento
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Apellido)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cedula)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdDepartamentoNavigation.Nombre)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdPersonalCentro">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.IdPersonalCentro">Detalles</a> |
                <a asp-action="Delete" asp-route-id="@item.IdPersonalCentro">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>
