@model WebSchoolAppUI.Models.PersonalDistrito

@{
    ViewData["Title"] = "Details";
}

<h1>Detalle Personal</h1>

<div>
    <h4>Personal del Distrito</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.Apellido)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Apellido)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.Cedula)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Cedula)
        </dd>
        <dt class="col-sm-4">
            Departamento
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IdDepartamentoNavigation.Nombre)
        </dd>
        <dt class="col-sm-4">
            Distrito
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IdDistritoNavigation.Codigo)
        </dd>
        <dt class="col-sm-4">
            Fecha de Creacion
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FechaCreado)
        </dd>
        <dt class="col-sm-4">
            Fecha de Modificacion
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FechaModificado)
        </dd>
       
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.IdPersonalDistrito">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
