@model X.PagedList.IPagedList<WebSchoolAppUI.Models.PersonalDistrito>

@using X.PagedList.Mvc.Core;
@{
    ViewData["Title"] = "Personal del Distrito";
}

<style>
    .ul.pagination {
        display: inline-block;
        padding: 0;
        margin: 0;
    }

    ul.pagination li {
        display: inline;
    }

        ul.pagination li a {
            color: black;
            float: left;
            padding: 8px 16px;
            text-decoration: none;
            transition: background-color .3s;
        }

            ul.pagination li a.active {
                background-color: #4CAF50;
                color: white;
            }

            ul.pagination li a:hover:not(.active) {
                background-color: #ddd;
            }
</style>

<h1>Personal del Distrito</h1>

<p>
    <a asp-action="Create">Crear nuevo Personal</a>
</p>

@using (Html.BeginForm("Index", "PersonalDistritoes", FormMethod.Get))
{
    <p>
        Buscar por nombre: @Html.TextBox("SearchString", ViewBag.CurrentFilter as string)
        <input type="submit" value="Search" />
    </p>
}
<center>

    <div>

        <table class="table">
            <thead>
                <tr>
                    <th>
                        Nombre
                    </th>
                    <th>
                        @Html.ActionLink("Apellido", "Index", new { sortOrder = ViewBag.NameSortParm, currentFilter = ViewBag.CurrentFilter })
                    </th>
                    <th>
                        Cedula
                    </th>

                    <th>
                        @Html.ActionLink("Departamento", "Index", new { sortOrder = ViewBag.DepartamentoSortParm, currentFilter = ViewBag.CurrentFilter })
                    </th>
                    <th>
                        @Html.ActionLink("Distrito", "Index", new { sortOrder = ViewBag.DistritoSortParm, currentFilter = ViewBag.CurrentFilter })
                    </th>

                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Nombre)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Apellido)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Cedula)
                        </td>

                        <td>
                            @Html.DisplayFor(modelItem => item.IdDepartamentoNavigation.Nombre)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.IdDistritoNavigation.Codigo)
                        </td>

                        <td>
                            <a asp-action="Edit" asp-route-id="@item.IdPersonalDistrito">Editar</a> |
                            <a asp-action="Details" asp-route-id="@item.IdPersonalDistrito">Detalles</a> |
                            <a asp-action="Delete" asp-route-id="@item.IdPersonalDistrito">Eliminar</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</center>

<br />
<div class="mb-2">
    Pagina @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) de @Model.PageCount
</div>

<div class="d-flex justify-content-center">
    @Html.PagedListPager(Model, page => Url.Action("Index",
        new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))

</div>
